/* Universal Styles */

html {
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}

body, h1, h2, p,
figure, blockquote {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/* Header Styles */

header {
    background-color: #1f2937;
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
}

.header-logo {
    font-size: 1.25rem;
    color: #f9faf8;
    font-weight: bold;
}

nav a {
    color: #e5e7eb;
    text-decoration: none;
    display: block;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li + li {
    padding-left: 1rem;
}

/* Hero Styles */

.hero {
    background-color: #1f2937;
    padding: 7rem 0;
}

.hero-content {
    width: 70%;
    margin: 0 auto;
    display: flex;
    gap: 3rem;
}

.left-hero,
.right-hero {
    width: 50%;
}

h1 {
    font-weight: 800;
    font-size: 3rem;
    color: #f9faf8;
    margin-bottom: 0.5rem;
}

.left-hero p {
    color: #e5e7eb;
    margin-bottom: 0.5rem;
}

.right-hero {
    border: 1px solid red;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 10px;
    box-shadow: none;
}
/* Information Styles */

h2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 3rem;
    font-weight: 800;
    color: #1f2937;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 66%;
    margin: 3rem auto 0 auto;
}

.image-container figure {
    width: 170px;
    color: #1f2937;
}

.image-container img {
    border: 3px solid #3882f6;
    border-radius: 10px;
    width: 170px;
}

.image-container figcaption {
    text-align: center;
    margin-top: 0.25em;
}

/* Quote Styles */

.quote {
    background-color: #e5e7eb;
    margin-top: 3rem;
    padding: 7rem 0;
}

.quote-container {
    width: 66%;
    margin: 0 auto;
    color: #1f2937;
}

.quote blockquote {
    font-size: 2rem;
    font-style: italic;
    /* color: #1f2937; */
}

.quote-container p {
    font-size: 1.25rem;
    text-align: right;
    /* color: #1f2937 */
}


/* Action Styles */

/* Footer Styles */