/* Universal Styles */

html {
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}

body, h1, h2, p {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/* Header Styles */

header {
    background-color: #1f2937;
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.header-logo {
    font-size: 1.25rem;
    color: #f9faf8;
    font-weight: bold;
}

nav a {
    color: #e5e7eb;
    text-decoration: none;
    display: block;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li + li {
    padding-left: 1rem;
}

/* Hero Styles */

.hero {
    background-color: #1f2937;
    padding: 5rem 0;
}

.hero-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 0.5rem;
}

.left-hero,
.right-hero {
    width: 50%;
}

h1 {
    font-weight: 900;
    font-size: 3rem;
    color: #f9faf8;
    margin-bottom: 0.5rem;
}

.left-hero p {
    color: #e5e7eb;
    margin-bottom: 0.5rem;
}

.right-hero {
    border: 1px solid red;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 10px;
    box-shadow: none;
}
/* Information Styles */

/* Quote Styles */

/* Action Styles */

/* Footer Styles */